<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd" default-lazy-init="default">
		
		<bean id="now" class="java.util.Date"></bean>
		<!-- 1. Spring管理文件 忽略系统属性-->
		<context:property-placeholder location="classpath:db.properties" system-properties-mode="NEVER"/>
		
		
		
		
		<!-- 2. 将连接池对象交给spring管理 -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="${driverClassName}"></property>
			<property name="url" value="${url}"></property>
			<property name="username" value="${username}"></property>
			<property name="password" value="${password}"></property>
		</bean>
		<!-- 3. Spring管理SqlSessionFactory对象 -->
		<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<!-- 注入连接池对象 -->
			<property name="dataSource" ref="dataSource"></property>
			<!-- 指定别名 -->
			<property name="typeAliasesPackage" value="cn.armand.domain, cn.armand.query"></property>
			<!-- 扫描mapper文件 -->
			<property name="mapperLocations" value="classpath:cn/armand/mapper/*Mapper.xml"></property>
		</bean>
		<!-- 4. 将Mapper接口交给Spring管理 -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<!-- 会自动注入sqlSessionFactory对象 扫描所有的mapper接口，生成mapper接口的代理对象，并放在容器中管理 -->
			<property name="basePackage" value="cn.armand.mapper"></property>
		</bean>
		
		<context:component-scan base-package="cn.armand.service"></context:component-scan>
</beans>