<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间：接口的完全限定名-->
<mapper namespace="cn.armand.mapper.ArticleMapper">
	
	
	<select id="findAll" resultType="Article">
		select * from t_article
	</select>
	
	<!-- Integer findCount(ArticleQuery query); -->
	<select id="findCount" resultType="int">
		select count(*) from t_article
		<include refid="customQuery"></include>
	</select>
	
	<!-- List<Article> findPage(ArticleQuery query); -->
	<select id="findPage" resultType="Article">
		select * from t_article 
		<include refid="customQuery"></include>
		limit #{begin}, #{pageSize}
	</select>
	
	<sql id="customQuery">
		<where>
			<if test="typeId!=null">and typeId=#{typeId}</if>
			<if test="enable!=null">and enable=#{enable}</if>
			<if test="title!=null and title.trim()!=''">and title like concat("%",trim(#{title}),"%")</if>
		</where>
	</sql>
	<!-- void del(Long id); -->
	<delete id="del">delete from t_article where id=#{id}</delete>
	<!-- void add(Article article);-->
	<insert id="add">insert into t_article(title,url,typeId,clickCount,content,createDate,enable)
		values(#{title},#{url},#{typeId},#{clickCount},#{content},#{createDate},#{enable})
	</insert>
	<!--void update(Article article); -->
	<update id="update">
		update t_article set title=#{title},url=#{url},typeId=#{typeId},
		clickCount=#{clickCount},content=#{content},enable=#{enable} where id=#{id}
	</update>
	
	<!-- List<Article> findArticles(String technology); -->
	<select id="findArticles" resultType="Article" parameterType="string">
		select * from t_article t1 join t_article_type t2 on t1.typeId=t2.id
		where t2.code=#{code} and t1.enable=1 order by t1.createDate desc limit 8
	</select>
	
	<!-- Article findOne(Long id); -->
	<select id="findOne" resultType="Article">select * from t_article where id=#{id} </select>
	
	<!-- Article findOneByUrl(String url); -->
	<select id="findOneByUrl" resultType="Article">select * from t_article where url=#{url} </select>
	
</mapper>
