<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间：接口的完全限定名-->
<mapper namespace="cn.armand.mapper.ArticleTypeMapper">
	
	<!-- ArticleType findOne(Long typeId); -->
	<select id="findOne" resultType="ArticleType">select * from t_article_type where id=#{id}</select>
	<!-- List<ArticleType> findAll(); -->
	<select id="findAll" resultType="ArticleType">select * from t_article_type</select>
	
	
</mapper>
