<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间：接口的完全限定名-->
<mapper namespace="cn.armand.mapper.SlideMapper">
	<!-- Integer findCount(SlideQuery query); -->
	<select id="findCount" resultType="int">
		select count(*) from t_slide
		<include refid="query"></include>
	</select>
	<!-- List<Slide> findPage(SlideQuery query); -->
	<select id="findPage" resultType="Slide">
		select * from t_slide 
		<include refid="query"></include>
		limit #{begin},#{pageSize}
	</select>
	
	<sql id="query">
		<where>
			<if test="enable!=null">and enable=#{enable}</if>
			<if test="name!=null and name.trim()!=''">and name like concat("%",trim(#{name}),"%")</if>
		</where>
	</sql>
	<!-- void add(Slide slide); -->
	<insert id="add">
		insert into t_slide(name,path,createDate,enable)values
		(#{name},#{path},#{createDate},#{enable})
	</insert>
	
	<!-- Slide findOne(Long id); -->
	<select id="findOne" resultType="Slide">select * from t_slide where id=#{id}</select>
	<!-- void del(Long id); -->
	<delete id="del">delete from t_slide where id=#{id}</delete>
	<!-- void update(Slide slide); -->
	<update id="update">
		update t_slide set enable=#{enable}
		<if test="name!=null and path!=null">
			,name=#{name},path=#{path}
		</if>
		where id=#{id}
	</update>
	<!-- List<Slide> findSlides(); -->
	<select id="findSlides" resultType="Slide">select * from t_slide where enable=1</select>
</mapper>
