<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd" default-lazy-init="default">
		
				
		<!-- 默认类中有无参构造 -->
		<bean id="tomato" class="cn.armand.bean.Tomato"></bean>
		<!--  当前系统时间 -->
		<bean id="now" class="java.util.Date"></bean>
		<!-- 管理集合List 接口 没有无参构造 -->
		<bean id="list" class="java.util.ArrayList"></bean>
		<bean id="myBean" class="cn.armand.bean.Mybean">
			<property name="name" value="old"></property>
			<!--如果注入的是复杂的属性，就需要用ref或Bean标签 -->
			<property name="time" ref="now"></property>
			<property name="tomato">
				<bean class="cn.armand.bean.Tomato"></bean>
			</property>
		</bean>
		<bean id="dao" class="cn.armand.dao.impl.EmpDaoImpl"></bean>
		
		<!-- mvc控制器对象，启动时就加载了 -->
		<bean id="/hello.do" class="cn.armand.controller.HelloController"></bean>
		
		<!-- 静态资源放行 -->
		<mvc:default-servlet-handler/>
		
		<!-- Spring会扫描包内，如果有@Controller就生成对象 -->
		<context:component-scan base-package="cn.armand"></context:component-scan>
		
		<!--  开启spring对mvc的支持，能够用@RequestMapping注解 -->
		<mvc:annotation-driven></mvc:annotation-driven>
		
		<!-- 视图解析器，解析controller的返回值，组成物理视图 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<property name="prefix" value="/"></property>
				<property name="suffix" value=".jsp"></property>
		</bean>
		
		<!-- 配置文件上传 -->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 最大允许上传大小，单位是字节 -->
    	 	<property name="maxUploadSize" value="17367648787"></property>
    		<property name="defaultEncoding" value="UTF-8"></property>
    	</bean>
    	
    	<!-- 配置拦截器 -->
    	<mvc:interceptors>
    		<mvc:interceptor>
    			<!-- 表示要拦截哪些请求 **是多级请求-->
    			<mvc:mapping path="/json/**"/>  
    			<bean class="cn.armand.filter.MyInterceptor"></bean>
    		</mvc:interceptor>
    	</mvc:interceptors>
</beans>