.center.frame {
  letter-spacing: 0em;
  text-indent: 0em;
}



#banner {
  height: 350px;
}



#video.majority .content {
  line-height: 26px;
}
#video.majority .content .tags >* {
  font-weight: bold;
  margin-right: 1em;
}
#video.majority .content .id {
  padding: 0 0.25em;
  background-color: #F8B300;
  color: #fff;
  border-radius: 4px;
}
#video.majority .relatives .sectitle {
  font-size: 22px;
  font-weight: bold;
}
#video.majority .relatives .content {
  justify-content: space-between;
  border-top: solid 1px #AFAFAF;
  border-bottom: solid 1px #AFAFAF;
  margin-top: 10px;
}
#video.majority .relatives .wrapper {
  width: 180px;
  height: 120px;
}

#others.majority {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: justify;
}
#others.majority .title {
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
}
#others.majority .li {
  line-height: 26px;
  width: 50%;
}
#others.majority .li:nth-child(2n-1) {
  float: left;
}
#others.majority .li::before {
  content: "\2022";
  display: inline-block;
  width: 20px;
  text-align: center;
}