<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>0822spring</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
  <!-- 前端控制器 -->
  <servlet>
  			<servlet-name>DispatcherServlet</servlet-name>
  			<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  			<!--  加载SpringMVC配置文件 -->
  			<init-param>
  						<param-name>contextConfigLocation</param-name>
  						<param-value>classpath:applicationContext.xml</param-value>
  			</init-param>
  			<load-on-startup>1</load-on-startup>
  </servlet>
 	<servlet-mapping>
 			<servlet-name>DispatcherServlet</servlet-name>
 			<url-pattern>/</url-pattern>	
 			<!-- 配置成/时会将tomcat中默认处理请求资源的servlet替代，因此需要配置静态资源放行 -->
 	</servlet-mapping>
  	<!-- 
  		1. 开启服务的时候，tomcat会自动解析web.xml
  		2. 发送所有的.do的请求，都会交给DispatcherServlet去处理
  		3. 会加载applicationContext.xml配置文件
  	 -->
  	 
  	<filter>
  			<filter-name>EncodingFilter</filter-name>
  			<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  			<init-param>
  					<param-name>encoding</param-name>
  					<param-value>UTF-8</param-value>
  			</init-param>
  	</filter>
  	<filter-mapping>
  			<filter-name>EncodingFilter</filter-name>
  			<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	<!-- 任何请求都是先执行过滤器，再执行处理器 -->
</web-app>